@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


body{
  background: #ecf0f1;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 16px;

}

/*------PERFIL------*/

#profile{
  background: #ecf0f1;
  background-size: cover;
  width: 100%;
  height: 25em;
}

#pp_container{
  width: 100%;
  position: absolute;
  top: 18em;
}

.info{
  width: 100%;
  text-align: center;


}

.nombre{
  color: #000;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  
}

.usuario{
  color: #5f5f5f;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
 
}

/*------foto de perfil (perfil)------*/

.avatar{border: 2px solid #000;; }
.avatar,.avatar- img{
width: 60px;
height: 60px;
-webkit-border-radius: 80px; /* Saf3+, Chrome */
border-radius: 80px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.imagen_perfil{
  margin-top: -220px;
  text-align: center;
}

.informacion{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 220px;
  float: left;

}

.informacion p{
  color: #000;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-right: 15px;
  

}



/*------HASHTAG-------*/
#hashtag{
  background: url(../img/hash_bg.png),url(../img/hash_bg2.png) ;
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 40px;
  margin-top: 306px;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  width: 20%;
  height: 40px;
  float: left;
}

li a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: #dddddd;
  
}

/*---------------TERMINA HASHTAG-----------*/




/*---------------COMIENZA MENU-----------*/


#menu{
    display: inline-block;
    background: url(../img/logo_circle.png) no-repeat;
    background-position: center,center;
    background-size: 52px 48px;
    background-color:rgba(52,73,94,0.6);
    width: 100%;
    height: 50px;  
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline-block;
   
}

.part1{
    
    height: 3.0em;
    color:#9bc50b;
    float: left;
    margin-left: 0px;

}

.part2{
   
    height: 3.0em;
    color:#9bc50b;
  
}

.not{
    position: absolute;
    left: 3.50%;
    top: 16px;
}


.home{
    position: absolute;
    left:22%;
    top: 16px;
}

.search{
    position: absolute;
  right:22.5%;
    top: 16px;
}

.camera{
    position: absolute;
    right: 3.50%;
    top: 16px;
}



/*---------------TERMINA MENU-----------*/


/*---------------COMIENZA FOLLOW-----------*/

.follow_container{
  margin-top: 0px;
}
.follow{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(52,73,94,0.2);
  border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
-webkit-border-radius: 15px 15px 0px 0px;
border: 0px solid #000000;


}


.boton_follow{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -5px;
  height: 20px;
  background: #2a6892;
 -webkit-border-radius: 60px;
-moz-border-radius: 60px;
border-radius: 60px;
font-size: 10px;
font-weight: bold;
color: #fff;
text-align: center;
padding-top: 8px;
}

.following_numero{
  color: #5d646c;
  font-size: 13px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 1px;

}

.following_texto{
   color: #000;
  font-size: 13px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position:  relative;
  top: -3px;
  padding-left: 5px;


}

.follower_numero{
   color: #5d646c;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 1px;
  padding-left: 5px;

}

.follower_texto{
   color: #000;
  font-size: 13px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position:  relative;
  top: -3px;
   padding-left: 10px;

}

.photo_numero{
   color: #5d646c;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 1px;

}

.photo_texto{
   color: #000;
  font-size: 13px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position:  relative;
  top: -3px;

   padding-left: 5px;

}

.boton_follow2{

background: #37d355;
width: 22%;
margin-top: 20px;
margin-right: 39%;
margin-left: 39%;
height: 20px;
text-align: center;
font-size: 13px;
font-weight: bold;
color: #fff;
padding-top: 5px;
border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
-webkit-border-radius: 15px 15px 0px 0px;
border: 0px solid #000000;

}



/*---------------TERMINA FOLLOW-----------*/


/*---------------CLASES GENERALES-----------*/
.transparent {
 
  filter: alpha(opacity=2);
  opacity: 0.2;
}

.transparent_2 {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

/*---------------TERMINA CLASES GENERALES-----------*/


.separacion{
  border-right:  1px solid #afb4b9;
}