/* ------------------------------------ Registrer Style ------------------------------------ */ 

body{
    background:url(../img/bg_registrer.jpg) no-repeat center;
    width: 100%;
    height: auto;
}

#logo {
  
    text-align: center;
    margin-top: 2em;
}
#logo img{
    width:248px;
    height:52px;
    
}

/** The wrapper that will contain our two forms **/

.form-login {
    right: 0px;
    margin: 0px auto;   
    margin-right: 7.5%;
    margin-left:7.5%;
    width: 85%;
}

/* avatar */
.avatar {
    text-align:center;
    margin-top: 2em;
}
.avatar img{
    width:90px;
    height:90px;
    
}
/* inputs */
.inputs {
    margin-top:10px;
}

.sexo{
    width:80%;
    height:40px;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    margin-top:15px;
    padding:0px 10px;

}
.inputs input[type="text"],.inputs[type="text-area"], .inputs [type="password"], .inputs [type="email"] {
    width:80%;
    height:35px;
    background:#efefef;
    color:#b8b8b8;
    font-size:14px;
    text-align: center;
    margin-top:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0;
    margin-left:10%;
    margin-right:10%;
    padding:0px 10px;
}

textarea#styled {
    width:80%;
    height:65px;
    background:#efefef;
    color:#b8b8b8;
    font-size:14px;
    text-align: center;
    margin-top:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0;
    margin-left:10%;
    margin-right:10%;
    padding:10px 10px;
}


.bio{
    font-family: 16px;
    font-weight: bold;

}
/* info box */
.link-1 {
    margin-top:15px;
    color:#fff;
    font-size: 16px;
    text-align:center;
}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-size:13px;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -1px top no-repeat;
    background-position:-0px 0px; 
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -23px top no-repeat;
}
.link-2 {
    float:right;
    margin-top:15px;
    margin-right:20px;
}
.link-2 a, .link-2 a:hover {
    color:#b8b8b8;
}
.link-2 a:hover {
    text-decoration:none;
}

/* send button */
.button-login input[type="submit"] {
    width:50%;
    height:35px;
    margin-left:25%;
    margin-right: 25%;
    margin-top:25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    border:0;
    box-shadow:
        inset 0 1px #fff,
        inset 1px 0 #fff,
        inset -1px 0 #fff,
        inset 0 -1px #fff,
        0 2px #fff,
        0 3px #fff,
        0 4px 2px rgba(0,0,0,0.0)
    ;
    background: #019ade;
}
.button-login input[type="submit"]:hover { opacity:0.9; }
.button-login input[type="submit"]:active {
    top: 3px;
    background: #e84c3d;
    box-shadow: inset 0 1px 2px #ba3c30;
}

