@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
    background-color: #ecf0f1;
}
/*---------------COMIENZA MENU-----------*/


#menu{
    display: inline-block;
    background: url(../img/logo_circle.png) no-repeat;
    background-position: center,center;
  	background-size: 52px 48px;
    background-color:rgba(52,73,94,0.6);
  	width: 100%;
  	height: 50px;  
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline-block;
   
}

.part1{
    
    height: 3.0em;
    color:#9bc50b;
    float: left;
    margin-left: 0px;

}

.part2{
   
    height: 3.0em;
    color:#9bc50b;
  
}

.not{
    position: absolute;
    left: 3.50%;
    top: 16px;
}


.home{
    position: absolute;
    left:22%;
    top: 16px;
}

.search{
    position: absolute;
  right:22.5%;
    top: 16px;
}

.camera{
    position: absolute;
    right: 3.50%;
    top: 16px;
}



/*---------------TERMINA MENU-----------*/


/*---------------COMIENZA USUARIO EXTERNO-----------*/



.info_usuario_externo{
    margin-top: 20px;
}

.avatar_externo{border: 2px solid #727272;; }
.avatar_externo,.avatar_externo- img{
width: 45px;
height: 45px;
-webkit-border-radius: 80px; /* Saf3+, Chrome */
border-radius: 80px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.imagen_perfil_externo{
    float: right;
    padding-right: 5px;
    margin-right: 20px;
   
}

.usuario_externo{
    width: 100%;
    color: #34495e;
    margin-left: -20px; 
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold; 
}

.icon_notificacion img{
    width: 100%;
    margin-top: 10px;
    margin-left: -7px; 
    width: 28px;
    height: 18px;
}

.foto_notificacion{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 5px;

}


.foto_notificacion img{
    width: 100%;
    height: auto;
    -webkit-box-shadow: 1px 10px 30px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    1px 10px 30px rgba(50, 50, 50, 0.35);
box-shadow:         1px 10px 30px rgba(50, 50, 50, 0.35);

}

.comentario{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #2a2f30;
}

.comillas{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.fotos{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;

}

.fotos img{
    width: 95%;
    height: auto;


}

.reloj{
    position: absolute;
    left: 92%;
    top: 105px;

}

.tiempo{
    position: absolute;
    left: 91%;
    top: 95px;
    font-size: 11px;
    color: #727272;
    font-weight: bold;

}

.reloj img{
    width: 18px;
    height: 11px;

}

.notificacion_3{
    border-bottom: 1px solid #dbdbdb; 
    padding-bottom: 10px;
}