@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);

body{
	background-image: url(../img/b7.jpg);
	background-color: rgba(34,34,34,0.95);
	background-size: percentage;
	background-attachment: fixed;
	font-family: "Roboto";
	font-size: 16px;
	color: #fff;
}

/*MENU PRINCIPAL APP */

.menu{
	background-color: rgba(34,34,34,0.95);
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 30000;
}

.logo{ float: left; padding-left: 4%; padding-top: 4px;}
.logo img{ width: 36px;
}

.avatar-menu{border: 0px solid rgba(199,201,201,0.6);; }
.avatar-menu,.avatar-menu img{ width: 26px; height: 26px;-webkit-border-radius: 80px; /* Saf3+, Chrome */border-radius: 80px; /* Opera 10.5, IE 9 *//*-moz-border-radius: 30px; Disabled for FF1+ */
}

.avatar-activo{border: 2px solid rgba(32,195,163,1);; }
.avatar-activo,.avatar-activo img{ width: 26px; height: 26px;-webkit-border-radius: 80px; /* Saf3+, Chrome */border-radius: 80px; /* Opera 10.5, IE 9 *//*-moz-border-radius: 30px; Disabled for FF1+ */
}
.pp-menu{display:inline-block; float:right; padding-right: 7%; padding-top: 9px;}
.pbm{margin-left: 7%}
.home-menu{display:inline-block;  float: left; vertical-align: top; padding-top: 7px; padding-top: 12px;}
.diamante-menu{display:inline-block;  float: left; vertical-align: top; padding-top: 7px; margin-left: 7%; padding-top: 12px;}
.trends-menu{display:inline-block;  float: left; vertical-align: top; padding-top: 7px; margin-left: 7%; padding-top: 12px;}
.menu-icono{width: 21px;}

/*-----------------------------------MENU PRINCIPAL PAGINA --------------------------------------*/

/* SECCION SEARCH */

.buscador{ background-color: rgba(56,61,68, 0.6); width: 100%; top:155px; left:0; height: 40px; position: fixed;}

.buscador-iconos{width: 62%; float: left; ; height: 40px; }
.icono-buscador{text-align: center; padding-top: 7px; border-left: 1px solid rgba(34,34,34, 0.6); }
.icono-buscador img{width:22px; }

.buscador-form{width:38%; float: left; ; height: 40px; overflow: hidden; color: #fff;}
.buscador input[type="search"] {
  display:block;
  border:0;
  outline:0;
  box-shadow:0px 2px 1px rgba(0,0,0,.1);
  width:100%;
  color:#fff;
  font-size:14px;
  height: 38px;
  text-align: 	center;	
  background-color: rgba(56,61,68, 0.8);
  overflow: hidden;
}

.resultado-buscador{ background-color: rgba(56,61,68, 0.6); width: 100%;  height:550px; 
					 position: fixed; top: 105px; left: 0; overflow: scroll; }


.fotos-espacio{width: 100%; height: 0.8%;}
.contenedor-fotos{width: 100%; margin-top: 0; padding-bottom: 10px; }
.contenedor-fotos img{ border:3px solid rgba(56,61,68, 0.4);}

.fotos-2c-izquierda{ width:50%;  float: left; overflow: hidden;}
.fotos-2c-izquierda img{ width: 90%;  margin-left:5%; margin-right: 2.5%; margin-top:1%; height: 250px; overflow: hidden;
-webkit-box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    1px 7px 10px rgba(50, 50, 50, 0.95);
box-shadow:         1px 7px 10px rgba(50, 50, 50, 0.95);
}

.fotos-2c-derecha{ width: 50%;  float:right;}
.fotos-2c-derecha img{ width: 90%;  margin-left:2.5%; margin-right: 5% ; margin-top:1%; height: 250px;
-webkit-box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    1px 7px 10px rgba(50, 50, 50, 0.95);
box-shadow:         1px 7px 10px rgba(50, 50, 50, 0.95);
}


.fotos-1c-ancho{ width: 100%; }
.fotos-1c-ancho img{ width: 90%;  margin-left:5%; margin-right: 5% ; margin-top:1%; height: auto;
-webkit-box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    1px 7px 10px rgba(50, 50, 50, 0.95);
box-shadow:         1px 7px 10px rgba(50, 50, 50, 0.95);
}


.fotos-1c-maslikes{ width: 100%; overflow: 	hidden;	 }
.fotos-1c-maslikes img{ width: 75%;  margin-left:12.5%; margin-right: 12.5% ; margin-top:1%; height: 400px;
-webkit-box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    1px 7px 10px rgba(50, 50, 50, 0.95);
box-shadow:         1px 7px 10px rgba(50, 50, 50, 0.95);
}

.camara{width:100%; position: fixed; bottom: 0; margin: 0; text-align: center;}
.camara img{width: 45px;}


.nombre-seccion-feed{
	width: 100%;
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	float: left;	
	margin-top: 60px;
}

.seccion-text{padding-left: 16px;}
.feed{ background-color: rgba(56,61,68, 0.3); width: 100%;  height:600px; 
	   position: fixed; top: 190px; left: 0; overflow: scroll; }


.barra-foto-abierta{ width: 100%; top:50px; left:0; height: 40px; position: fixed;}
.barra-foto-abierta-boton{background-color: rgba(56,61,68, 0.6); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center; }
.barra-foto-abierta-boton-activo{background-color: rgba(32,195,163,0.75); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center;}
.barra-foto-abierta-boton-activo img{width: 34px; padding-top: 3px;}
.resultado-foto-abierta{ background-color: rgba(56,61,68, 0.6); width: 100%;  height:550px; 
           position: fixed; top: 200px; left: 0; overflow-y: scroll; overflow-x:hidden; }


.barra-feed{ width: 100%; top:155px; left:0; height: 40px; position: fixed;}
.barra-feed-boton{background-color: rgba(56,61,68, 0.6); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center; }
.barra-feed-boton-activo{background-color: rgba(32,195,163,0.75); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center;}
.barra-feed-boton-activo img{width: 34px; padding-top: 3px;}
.resultado-feed{ background-color: rgba(56,61,68, 0.6); width: 100%;  height:550px; 
					 position: fixed; top: 200px; left: 0; overflow-y: scroll; overflow-x:hidden; }

.barra-favorites{ width: 100%; top:155px; left:0; height: 40px; position: fixed;}
.barra-favorites-boton{background-color: rgba(56,61,68, 0.6); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center; }
.barra-favorites-boton  img{width: 34px; padding-top: 3px;}
.barra-favorites-boton-camara{background-color: rgba(32,195,163,0.75); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center;}
.barra-favorites-boton-camara img{width: 34px; padding-top: 3px;}
.barra-favorites-boton-activo{background-color: rgba(56,61,68, 0.80); width: 33.3333333%; float: left; margin: 0; height: 40px; text-align: center;}
.barra-favorites-boton-activo img{width: 34px; padding-top: 3px;}
.resultado-favorites{ background-color: rgba(56,61,68, 0.6); width: 100%;  height:550px; 
					 position: fixed; top: 200px; left: 0; overflow: scroll; }

.fotos-perfil{ width: 100%; background-color: rgba(56,61,68, 0.6); width: 100%;  height:auto;  margin-top:-5px; overflow:hidden;}

/*---------------COMIENZA PERFIL-----------*/

#contenedor_informacion_perfil{
    background: url(../img/portada.jpg);
    background-size: cover;
    width: 100%;
    height: 25em;
}

#contenedor_informacion_usuario{
   /* Este contenedor mueve la imagen de perfil, nombre y usuario ej.margin-top: 20px; */
}
.imagen_perfil_usuario{
  padding-top: 68px;
  text-align: center;
}

.avatar{border: 2px solid rgba(199,201,201,0.6);; }
.avatar,.avatar- img{
width: 60px;
height: 60px;
-webkit-border-radius: 80px; /* Saf3+, Chrome */
border-radius: 80px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.informacion_usuario{
  width: 100%;
  text-align: center;
}

.nombre{
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
  font-weight:400;
}

.usuario{
  color: #20c3a3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
 text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

/*---Follow del perfil---*/

#contenedor_informacion_follow{

}

.barra_follow{
  width: 85%;
  height: 40px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  background: rgba(56,61,68, 0.45) ;;
  border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
-webkit-border-radius: 15px 15px 0px 0px;
border: 0px solid #000000;
-webkit-box-shadow: 1px 10px 30px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    1px 10px 30px rgba(50, 50, 50, 0.45);
box-shadow:         1px 10px 30px rgba(50, 50, 50, 0.45);

}

.following_numero{
  color: #ecf0f1;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 5px;

}

.following_texto{
   color: #ecf0f1;
  font-size: 11px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position:  relative;
  top: -3px;
  padding-left: 5px;


}

.follower_numero{
   color: #ecf0f1;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
  padding-left: 5px;

}

.follower_texto{
   color: #ecf0f1;
  font-size: 11px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position:  relative;
  top: -3px;
   padding-left: 10px;

}

.photo_numero{
   color: #ecf0f1;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;

}

.photo_texto{
   color: #ecf0f1;
  font-size: 11px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position:  relative;
  top: -3px;
  padding-left: 5px;

}

.boton_follow{

background: rgba(32,195,163,0.8);
width: 50%;
margin-top: 20px;
margin-right: 25%;
margin-left: 25%;
height: 20px;
text-align: center;
font-size: 12px;
font-weight: bold;
color: #fff;
padding-top: 5px;
border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
-webkit-border-radius: 15px 15px 0px 0px;
border: 0px solid #000000;
-webkit-box-shadow: 1px 10px 30px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    1px 10px 30px rgba(50, 50, 50, 0.25);
box-shadow:         1px 10px 30px rgba(50, 50, 50, 0.25);
border-right: solid 2px #b1b1b1;
border-left: solid 2px #b1b1b1;
border-top: solid 2px #b1b1b1;
}




/*---Terminan estilos Follow---*/


#contenedor_biografia_usuario{
   /* Este contenedor mueve la información de la biografía del usuario ej.margin-top: 20px; */
}

.biografia{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  top: -3px;
  float: left;
  position: relative;

}

.biografia p{
  color: #fff;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-right: 15px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);

}

/*---Hashtag del Perfil---*/

#barra_hashtag{
    width: 100%;
    height: 30px;
    margin-top: 90px;
}

.hashtag_categorias{
   background-color: rgba(56,61,68, 0.65) ;
   width: 	20%;
   height: 	30px;
   float: 	left;	
   font-family: "Roboto";
   font-size: 13px;
   color: 	#ccc;
   text-align: 	center;	
   padding-top: 10px;
}

.h_c_activa{
   background-color: rgba(32,195,163, 0.65) ;
   width: 	20%;
   height: 	30px;
   float: 	left;	
   font-family: "Roboto";
   font-size: 13px;
   font-weight: bold;	
   color: 	#fff;
   text-align: 	center;	
   padding-top: 10px;
}


/*---Terminan estilos del hashtag del perfil---*/


/*---------------TERMINA PERFIL-----------*/


.contenedor_notificaciones{
	background-color: rgba(56,61,68, 0.65);
	width: 	100%;
	height: auto;	
	margin-top:45px;
	padding-bottom: 20px;
}

.notificacion1{
	padding-top: 5px;
	width: 	100%;
	height:auto;
	padding-bottom: 5px;	
	font-family: "Roboto";
	font-size: 14px;
	border-top:1px solid rgba(56,61,68, 0.65);
	overflow: hidden;

}

.contenido-not1{ 
	float: left; 
	padding-left: 10px;
	font-family: "Roboto";
	font-size: 13px;
	color: #fff;
	padding-top: 10px;
	text-align: left;
}

.pp-not1{float: left; padding-left: 15px;}
.avatar-not{border: 0px solid rgba(199,201,201,0.6);; }
.avatar-not,.avatar-not img{ width: 34px; height: 34px;-webkit-border-radius: 80px; /* Saf3+, Chrome */border-radius: 80px; /* Opera 10.5, IE 9 *//*-moz-border-radius: 30px; Disabled for FF1+ */
}

.avatar-not-2{border: 0px solid rgba(199,201,201,0.6);; }
.avatar-not-2,.avatar-not-2 img{ width: 46px; height: 46px;-webkit-border-radius: 80px; /* Saf3+, Chrome */border-radius: 80px; /* Opera 10.5, IE 9 *//*-moz-border-radius: 30px; Disabled for FF1+ */
}

.user-e-not{
	font-family: "Roboto";
	font-size: 13px;
	font-weight: bold;
	color: #20c3a3;
}

.user-e-not-2{
	font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	color: #20c3a3;
}

.notificacion2{
	padding-top: 5px;
	width: 	100%;
	height:auto;
	padding-bottom: 5px;	
	font-family: "Roboto";
	font-size: 14px;
	border-top:1px solid rgba(56,61,68, 0.65);
	overflow: hidden;

}
.not-2{width: 100%; display: block;}
.pp-not2{float: left; padding-left: 50px;}
.usuario-e-not2{float: left; padding-left: 5px; padding-top: 5px;}
.share-not2{display: block; width: 100%; padding-top: 5px; text-align: center;}
.share-not2 img{width: 32px;}

.notificacion-2{
	padding-top: 5px;
	width: 	100%;
	height:auto;
	padding-bottom: 5px;	
	font-family: "Roboto";
	font-size: 14px;
	border-top:1px solid rgba(56,61,68, 0.65);
	overflow: hidden;
 }

 .info_usuario_externo2{
    margin-top: 0px;
}

.imagen_perfil_externo{
    float: right;
    padding-right: 5px;
    margin-right: 20px;
   
}

.usuario_externo{
    font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	color: #20c3a3; 
}

.icon_notificacion img{
    width: 100%;
    margin-top: 10px;
    margin-left: -7px; 
    width: 28px;
    height: 29px;
}

.fotos{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;

}

.foto{
    width: 95%;
    height: 220px;
}

.foto-abierta-contenedor{
  background-color: rgba(191,191,191,0.25);
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  margin-top: 96px;
  overflow: hidden;

}

.pp-foto-abierta{
  text-align: center;
  padding-top: 5px;
}


.contenedor-reloj{
  text-align: center;
  padding-top: 5px;
}

.pp-1{border: 2px solid rgba(32,195,163,1);; }
.pp-1,.pp-1 img{ width: 32px; height: 32px;-webkit-border-radius: 80px; /* Saf3+, Chrome */border-radius: 80px; /* Opera 10.5, IE 9 *//*-moz-border-radius: 30px; Disabled for FF1+ */
}

.reloj{
  width: 21px;
}

.reloj-numero{
  display: block;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 12px;
  color: #727272;
  text-align: center;
  margin-top: -10px;
}

.foto-abierta-1{
  width: 100%;
  padding-top: 5px;
}

.foto1{
  width: 100%;
  height: 400px;
  -webkit-box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    1px 7px 10px rgba(50, 50, 50, 0.95);
box-shadow:         1px 7px 10px rgba(50, 50, 50, 0.95);
border:3px solid rgba(56,61,68, 0.4);

}

.like-share-fa{
  width: 100%;
  margin-top: 7px;
}

.like-btn{
  width: 60px;
  height: 30px;
  border: 3px solid rgba(255,255,255,1);
  float: right;
  text-align: center;
  padding-top: 9px;
  overflow: hidden;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.share-btn{
  width: 60px;
  height: 30px;
  border: 3px solid rgba(255,255,255,0.70);
  float: right;
  margin-right: 10px;
  text-align: center;
  padding-top: 9px;
  overflow: hidden;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.like-img{
  width: 22px;

}

.like-info{
  display: block;
  overflow: hidden;
  margin-top: -4px;
  margin-left: 2px;
}

.foto-abierta-info{
  float: left;
}

.icono-like-info{
  float: left;
  padding-top: 3px;
}

.icono-like-info img{
  width: 14px;
}

.numero-like-info{
  float: left;
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 600;
  color: rgba(255,255,255,0.70);
  padding-top: 6px;
}

.numero-like-info-on{
  float: left;
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 600;
  color: rgba(255,255,255,1);
  padding-top: 6px;
}