@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);


body{
	background-image:url(../img/b7.jpg);
	background-repeat: repeat;	
	background-attachment: fixed;
}

a{outline:none;text-decoration: none;}

ul{padding:0; margin:0; list-style-type: none;}


.derecha-superior{
	background-color: rgba(189, 195, 199,0.5);
	width: 100%;
	height: 181px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 0;

}

.derecha-inferior{
	background-color: rgba(255, 255, 255,0.5);
	margin-top: 10px;
	width: 100%;
	min-height: 700px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}



/*MENU PRINCIPAL PAGINA */
.menu-pagina{
	width: 100%;
	background-color: rgba(34,34,34,0.95);
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
}

.contenedor-menu{
	width: 986px;
	height: 40px;
	margin: 0 auto;
}

.menu-izquierda{
	
	width: 609px;
	height: 40px;
	float: left;
}

.menu-derecha{
	
	width: 377px;
	height: 40px;
	float: right;
}

.info-usuario-menu{
	
	width: 370px;
	height: 40px;
	float: left;
}

.contenedor-iconos-menu{
	
	width: 228px;
	height: 40px;
	float: right;
}

.pp-menu{
	float: left;
	padding-top: 7px;
	padding-left: 0px;
}

.nombre-usuario-menu{
	padding-left: 10px;
	padding-top: 10px; 
	float: left;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 600;
	color: white;
	letter-spacing: 1px;

}

.iconos-menu{
	float: left;
}

.avatar-menu{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-menu,.avatar-menu- img{
width: 25px;
height: 25px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.menu-pagina li{
	float: left; 
	padding-top: 5px;
}


.menu-pagina li a{
 
}

.menu-pagina li a img{
	width: 20px;
	display: inline-block;
  	padding-right: 35px;
}

.menu-icono{
	width: 28px;
	padding-top: 5px;
}



.logo-menu{
	float: right;
	padding-right: 9px;
	padding-top: 3px;
	
}

.logo-menu img{
	width: 35px;
}

#search {
  width: 233px;
  float: left;
  padding-left: 2px;
  padding-top: 6px;
  height: 25px;

}

#search_text {
  width: 203px;
  padding: 15px 0 15px 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-left: 1px solid #bcc2cb;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 25px;
  margin-right: 0px;
  color: #000000; !important
  outline: none;
  background-color: rgba(51,66,60, 0.3);
  float: left;
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder {
  color:white;
}
:-moz-placeholder {
  color:white;
}
::-moz-placeholder {
  color:white;
}
:-ms-input-placeholder {
  color:white;
}
#search_text:focus{
  background: rgba(51,66,60, 0.6);
}
#search_button{
  border-left: 1px solid #bcc2cb;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background: #12a19a url(http://designmodo.com/demo/dropdown-menu-search/search.png) center no-repeat;
  width: 30px;
  float: left;
  padding: 0;
  text-align: center;
  height: 30px;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

/*-----------------------MENU PRINCIPAL PAGINA------------------------- */

/*CONTENIDO PRINCIPAL DE LA PAGINA */

.contenedor-principal{
	width: 968px;
	margin: 60px auto;
	padding-bottom: 10px;
	overflow: hidden;

}

.contenido-izquierda{
	width: 583px;
	height:600px;
	position: fixed;
	float: left;
	padding-bottom: 10px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: #fff;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #FFF;

}

.scroll::-webkit-scrollbar
{
	width: 0;
	background-color: #fff;

}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #ccc;

	
}


.contenido-derecha{
	width: 370px;
	height: 400px;
	background-color: orange;
	float: right;
}

.nombre-seccion{
	width: 100%;
	height: 35px;
	border-bottom: 4px solid #727F7F;
	background-color: #95a5a6;
}

.seccion{
	float: right;
	font-family: "Roboto";
	font-size: 21px;
	font-weight: 400;
	padding: 5px;
	color: #fff;

}
.contenedor-publicacion{
	margin-top: 40px;

}

.info-usuario{
	padding-left: 50px;
}

.pp-publicacion{
	float: left;
}

.avatar-publicacion{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-publicacion,.avatar-publicacion- img{
width: 45px;
height: 45px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.nombre-usuario-publicacion{
	float: left;
	padding-top: 25px;
	padding-left: 10px;
	font-family: "Roboto";
	font-weight: 400;
	color: #34495e;
	font-size: 21px;

}

.publicacion{
	width: 80%;
	margin-left:auto;
	margin-right: auto;
	overflow: hidden;
	
}

.foto-publicacion{
	width: 100%;
	margin: 5px auto;
}

.foto-publicacion img{
	width: 100%;
	margin: 0 auto;
	height: auto;

}

.comentario-usuario-publicacion{
	width: 100%;

}

.texto-comentario-usuario{
	text-align: center;
	font-family: "Roboto";
	font-weight: 300;
	color: #151414;
	font-size: 15px;
}


.contenedor-principal-2{
	width: 986px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 49px;
}

.contenido-izquierda-2{
	width: 600px;
	float: left;
	background-color: rgba(223, 223, 223,0.2);
	height:1080px;
	color: #000;
	overflow-y:scroll; 
	position: fixed;
	top: 49px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.contenido-derecha-2{
	width: 377px;
	float: right;
	height: 250px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.nombre-seccion-2{
	width: 600px;
	height: 30px;
	border-bottom: 2px solid  #fff;
	background-color: rgba(189, 195, 199,0.4);
	position: fixed;
	top: 49px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}

.seccion-2{
	float: left;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 600;
	padding: 3px 15px;
	color: #fff;

}

.contenedor-publicacion2{
	width: 70%;
	margin: 15px 15% 35px 15%;
	
}

.contenedor-foto-publicacion{
	width: 100%;
	overflow: hidden;
}

.contenedor-foto-publicacion img{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.comentar{
	width: 100%;
	height: 40px;
	margin-top: -4px;
	display: inline-block;
	vertical-align: top;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;

}

.btn-comentar{
	width: 9.5%;
	float: left;
	height: 40px;
	background-color: rgba(189, 195, 199,0.5);
	text-align: center;
	cursor: pointer;
	-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;

}

.btn-comentar img{
	width: 30px;
	padding-top: 10px;

}

.pensamientos{
	width: 52%;
	float: left;
	height: 40px;
}

.comentar-entrada {
  width: 100%;
  padding: 15px 0 15px 15px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-right: none;
  border-left: 2px solid #fff;
  border-top: none;
  border-bottom: none;
  height: 40px;
  margin-right: 0px;
  color: white;
  outline: none;
  background-color: rgba(189, 195, 199,0.5);
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder {
  color:white;
}
:-moz-placeholder {
  color:white;
}
::-moz-placeholder {
  color:white;
}
:-ms-input-placeholder {
  color:white;
}
.comentar-entrada :focus{
  background-color: rgba(189, 195, 199,0.9);;
}

.btn-share{
	width: 19%;
	float: left;
	height: 40px;
	background-color: rgba(183, 191, 197,0.95);
	text-align: center;
	cursor: pointer;
}

.btn-share img{
	width: 30px;
	padding-top: 10px;

}

.btn-like{
	width: 19%;
	float: right;
	height: 40px;
	background-color: rgba(183, 191, 197,0.95);
	text-align: center;
	cursor: pointer;
		-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
	
}

.btn-like img{
	width: 30px;
	padding-top: 10px;
}

.comentario-usuario-publicacion2{
	background-color: rgba(223, 223, 223,0.60);
	width: 100%;
	height: 30px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.comentario-usuario2{
	font-size: 14px;
	font-weight:600;
	font-family: "Roboto";
	text-align: left;
	color: white;
	padding-top: 5px; 
	padding-left: 15px;
}
.info-usuario2{
	padding-left: 15px;
	padding-bottom: 0px;
}
.pp-usuario-publicacion2{
	display: inline-block;
	vertical-align: top;
	padding-top: 25px;
}

.nombre-usuario2{
	display: inline-block;
	vertical-align: top;
	padding-top: 35px;
	padding-left: 5px;
	font-family: "Roboto";
	font-weight: 600;
	font-size: 16px;
	color: #fff;
}

/*-------------------------------------CONTENIDO LADO DERECHO PERFIL----------------------------------- */

/*PERFIL LADO DERECHO */

.peril-derecha{
	width: 100%;
	height: 650px;

}

.info-perfil-usuario{
	background-image: url(../img/rcover.jpg);
	background-size: cover;
	width: 100%;
	height: 293px;
}

.pp-perfil{
	text-align: center;
	padding-top: 100px;
}

.nombre-usuario-perfil{
	text-align: center;
	padding-top: 0;
	font-family: "Roboto";
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7);
	font-size:	21px;
	color: white;
	font-weight: bold; 
}	

.barra-info-numeros{
	width: 100%;
	height: 50px;
	background-color: white;
}

.followings{
	width: 33.222%;
	float: left;
	text-align: center; 
	border-right: 1px solid #ccc;
}

.followers{
	width: 33.222%;
	float: left;
	text-align: center; 
	border-right: 1px solid #ccc;
}

.photos{
	width: 33%;
	float: left;
	text-align: center; 
}

.bft{
	font-family: "Roboto";
	color: #161821;
	font-size: 14px;
	display: block;
	padding-top: 7px;
	font-weight: bold;
}

.bfn{
	font-family: "Roboto";
	color: #161821;
	font-size: 14px;
	display: block;
}

.follow-btn{
	
	background-color: #234880;
	height: auto;
	text-align: center;
	padding: 5px;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

.hashtag-barra{
	width: 100%;
	background-color: white;
	overflow: hidden;
	height: 30px;
}

.h-categoria{
	width: 22.3%;
	height: 30px;
	float: left;
	border-right: 1px solid #ccc;
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 600;
	color: #234880;
	padding-top: 5px;

}

.flecha-h{
	width: 10%;
	float: right;
	background-color: #ebeef3;
	text-align: center;
	cursor: pointer;

}

.flecha-h img{
	width: 20px;
	padding-top: 4px;
	padding-left: 8px;
}

.fotos-perfil{
	width: 100%;
	height: 310px;
	overflow-y: scroll;
	overflow-x: hidden;
}


/*-------------------------------------TERMINA PERFIL LADO DERECHO----------------------------------- */

/* P2 */

.hashtag-abierto{
	background-color: rgba(255,255,255,0.6);
	width: 347px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	height: 295px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.info-perfil-hashtag{
	width: 100%;
	height: 110px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.barra-hashtag-hashtag{
	background-color: rgba(56,61,68, 0.3);
	width: 100%;
	height: 30px;
	margin-top: 0px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	
}

.categoria-hashtag{
	width: 74px;
	height: 35px;
	float: left;
	margin: 0px;
	padding-top: 5px;
	border-right: 1px solid #ccc;
	font-family: "Roboto";
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	overflow: hidden;
	color: #e5e5e5;

}

.on{
	background-color: rgba(56,61,68, 0.6);
	font-family: "Roboto";
	font-size: 13px;
	font-weight: 600;
	color: #fff;
}

.btn-next{
	text-align: center;
}

.btn-next img{
	width: 20px;
	margin-top: 10px;
}

.info-hashtag{
	width: 100%;
	height: 130px;
	margin: 0;
}

.avatar-hashtag{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-hashtag,.avatar-hashtag- img{
width: 60px;
height: 60px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.pp-hashtag{
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-top:8px;
}

.usuario-status-hashtag{
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
}

.usuario-hashtag{
	font-family: "Roboto";
	font-weight: 600;
	color: #34495e;
	font-size: 16px;
}

.status-hashtag{
	margin-top: 7px;
	font-family: "Roboto";
	font-weight: 400;
	color: #34495e;
	font-size: 13px;
	margin-top: 10px;
}

.status-button{
	float: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 0;
}

.status-button img{
	width: 30px;
}

.descripcion-hashtag{
	width: 100%;
	margin-top: 30px;
	text-align: center;
	font-family: "Roboto";
	font-weight: 400;
	color: #34495e;
	font-size: 16px;
}

.btn-follow-hashtag{
	background-color: rgba(18,161,154, 0.8);
	width: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: "Roboto";
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}

.nombre-hashtag-hashtag{
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	display: inline-block;
	font-family: "Roboto";
	font-weight: 600;
	color: #12a19a;
	font-size: 16px;

}

.foto-abierta-hashtag{
	width: 347px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	height: 295px;
	display: block;


}

.foto-abierta-hashtag img{
	width: 100%;
	height: auto;


}

.barra-foto-abierta-hashtag{
	width: 100;
	margin-top: -5px;
	height: 40px;
	background-color: rgba(255,255,255,0.6);
	border:1px solid #ccc;
}

.barra-hashtag-1{
	width: 212px;
	float: left;
	height: 40px;
	border-right:1px solid #ccc;
}

.barra-hashtag-2{
	width: 65px;
	float: left;
	height: 40px;
	border-right:1px solid #ccc;
	text-align: center;
}

.barra-hashtag-2 img{
	width: 30px;
	padding-top: 10px;
}

.barra-hashtag-3{
	width: 65px;
	float: left;
	height: 40px;
	text-align: center;
}

.barra-hashtag-3 img{
	width: 30px;
	padding-top: 10px;
}

.notificaciones-hashtag{
	float: right;
	display: inline-block;
	padding-top: 6px;
	padding-right: 15px;
	font-family: "Roboto";
	font-weight: 400;
	color: #12a19a;
	font-size: 14px;
}

.favorites-publicacion-contenedor{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	height: 500px;
}

.info-usuario-externo-favorites{
	width: 209px;
	height: 191px;
	background-color: rgba(255,255,255,0.6);
	margin: 0;
	float: left;
}

.foto-likeada-compartida{
	width: 209px;
	height: 309px;
	margin: 0;
	float: left;
	overflow: hidden;
}

.foto-likeada-compartida img{
	width: 100%;
	min-height:309px;
	height: auto;
}

.foto-publicacion-favorites{
	width: 331px;
	height: 500px;
	margin: 0;
	float: right;
	overflow: hidden;
}

.foto-publicacion-favorites img{
	width: 100%;
	height:auto;
	margin: 0;
}

.pp-favorites-publicacion{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

.nombre-usuario-favorites-publicacion{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

.usuario-1{
	font-family: "Roboto";
	font-weight: 600;
	color: #34495e;
	font-size: 16px; 
}

.ranking-hashtag{
	width: 100%;
	display: block;
	float: left;
}

.status-info{
	width: 100%;
	margin: 0;
	margin-top: 7px;
}

.numero-status{
	float: right;
	display: inline-block;
	font-family: "Roboto";
	font-size: 11px;
	color: #fff;
	margin-right: 12px;
	margin-top: 2px;

}

.status-icono{
	float: right;
	display: inline-block;
	margin-right: 10px;
	
}

.status-icono img{
	width: 16px;
}

.info-perfil-chico{
	width: 100%;
	margin-top: 25px;
	background-color: red;
}

.pp-perfil-chico{
	text-align: center;
	width: 100%;
	display: block;

}

.avatar-perfil-chico{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-perfil-chico,.avatar-perfil-chico- img{
width: 45px;
height: 45px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.pp-profile-small{
	width: 100%;
	text-align: center;
	margin-top: 25px;

}

.usuario-p-s{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 24px;
	color: #fff;

}

.bio-u-p-s{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 16px;
	color: #fff;

}

.follow-i-p-s{
	width: 251px;
	height: 40px;
	margin:25px auto;
	border:1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}

.follow-i-p-s-izquierda{
	width: 125px;
	float: left;
	height: 40px;
	border-right:1px solid #ccc;
	margin:0;
}

.follow-i-p-s-derecha{
	width: 125px;
	float: left;
	height: 40px;
	margin:0;
}

.follow-info{
	width: 100%;
	margin-top: 50px;

}
.boton-follow-p-s{
background-color:rgba(32,195,163,1); 
width: 100px;
height: 30px;
float: left;
margin-left: 25px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-family: "Roboto";
font-size: 16px;
font-weight:bold;
padding-top: 10px;
text-align: center;
color: #fff;
}

.followers-p-s{
	width: 120px;
	height: 30px;
	background-color: rgba(51,66,60, 0.5);
	border:1px solid rgba(51,66,60, 0.7); 
	float: right;
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 0;
-moz-border-radius: 5px;
-moz-border-radius-topright: 0;
border-radius: 5px;
border-top-right-radius: 0;
font-family: "Roboto";
font-size: 13px;
font-weight:200;
padding-top: 10px;
text-align: center;
color: #fff;

}

.photos-p-s{
	width: 80px;
	height: 30px;
	background-color: rgba(51,66,60, 0.5);
	border:1px solid rgba(51,66,60, 0.7); 
	float: right;
	margin-right: 25px;
-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 0;
border-radius: 5px;
border-top-left-radius: 0;
font-family: "Roboto";
font-size: 13px;
font-weight:200;
padding-top: 10px;
text-align: center;
color: #fff;
}

.numero{
	margin-top: -7px;
}

.avatar-pps{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-pps,.avatar-pps- img{
width: 55px;
height: 55px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.trends-nombre{
	width: 223px;
	float: left;
}

.trends-categorias-contenedor{
	width: 360px;
	float: left;

}

.nombre-trends-texto{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	fo
}